.header{
    display: flex;
    align-items: flex-start;
    padding: 5em;
    gap: 1em;
}

.header h1{
    font-size: var(--font-size-h1);
    color: var(--text-color);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 0;
    font-weight: 500;
    line-height: 126px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 50px;
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
}

.menu :hover{
    /*border-bottom: 6px solid var(--text-color); */
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: var(--text-color);
}